numpy
matplotlib
Pillow
tqdm
scikit-learn
pycocotools
transformers
tensorboard
opencv-python
open_clip_torch
einops
accelerate
datasets
peft
bitsandbytes
torchpack
gradio
evaluate
scikit-image
diffusers
# flash-attn # only for A100/A800
opencv-python
tqdm
matplotlib
scipy
git+https://github.com/facebookresearch/segment-anything.git

# required by FastSAM
ultralytics==8.0.120 

# required by MobileSAMv2
onnx
onnxsim

# required by EfficientViT-SAM
git+https://github.com/zhijian-liu/torchpack.git@3a5a9f7ac665444e1eb45942ee3f8fc7ffbd84e5
onnxruntime
git+https://github.com/alibaba/TinyNeuralNetwork.git