numpy
matplotlib
Pillow
tqdm
scikit-learn
pycocotools
transformers
tensorboard
opencv-python
open_clip_torch
einops
accelerate
datasets
peft
bitsandbytes
torchpack
gradio
evaluate
scikit-image
diffusers
flash-attn